

/* common styles */

.text-green{
    color: #22c98b;
}
.text-blue{
    color: #112754;
}
.bg-blue{
    background-color: #112754;
}

.bg-green{
    background: #22c98b;
}

/* navbar styles start here */
.navbar{
    background: #112754;
    max-width: 90%;
    margin: 38px auto;
    border-radius: 8px;
    padding: 5px 20px;
}
img.logo {
    width: 120px;
}
.navbar-nav .nav-item {
    margin-left: 28px;
    font-size: 17px;
}
a.bg-green.get-the-card-btn.text-white {
    align-self: center;
    padding: 3px 22px;
    border-radius: 17px;
    font-size: 14px;
}
a.nav-item.nav-link.text-white.login-button {
    margin-right: 25px;
}
/* navbar styles ends here */

/* banner styles starts here */
.ipl-banner-section{
    max-width: 90%;
    margin: 20px auto;
}
/* navbar styles ends here */

 /* manage your social media links style starts here */
 section.manage-social-media-links {
    max-width: 91%;
    margin: auto;
    margin-top: 80px;
}

h1.content-heading {
    font-weight: 300;
    font-size: 47px;
}
button.bg-green.text-white.border-0 {
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 8px;
}
.social-media-link-content {
    padding-right: 82px;
}
.highlight-class{
    font-weight: 700;
}

.manage-social-media-links{
    background: url("../assets/banner-bg.svg");
    background-position: -16px 66px;
    background-repeat: no-repeat;
}
 /* manage your social media links style ends here */


 /* stats section styles starts here */
 section.stats-section.bg-blue {
    max-width: 91%;
    margin: auto;
    border-radius: 29px;
    margin-top: 51px;
    padding: 26px 0;
}
.stat-card-container {
    text-align: center;
}
img.img-fluid.stat-image {
    padding-left: 24px;
    width: 148px;
}
p.stat-heading.text-white {
    margin-top: 20px;
    font-size: 16px;
}
h3.stat-count.text-green {
    font-size: 37px;
    font-weight: 800;
}
 /* stats section styles ends here */

 /* card features styles starts here */
 section.advances-section {
    max-width: 91%;
    margin: 46px auto;
}
h1.section-heading {
    margin-bottom: 40px;
    font-size: 32px;
    margin-left: 21px;
}
.card-fetaure-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}
.each-feature-block {
    display: flex;
    justify-content: space-around;
    background: #f5f5f5;
    padding: 10px 48px;
    border-radius: 24px;
    box-shadow: 0 2px 3px 0 #e6e1e1;
}
img.img-fluid.feature-image {
    width: 43px;
    margin-right: 31px;
}
p.feature-text {
    margin: 0 !important;
    align-self: center;
}
 /* card features styles ends here */

 /* footer style starts here */

 h1.footer-heading {
    color: #fff;
    font-size: 49px;
}

.copy-right-block {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.footer-section.bg-blue {
    max-width: 91%;
    margin: auto;
    border-radius: 8px;
    padding: 25px 26px;
}
input.form-control.footer-input {
    margin-bottom: 30px;
    font-size: 14px;
}
.footer-row{
    margin-top: 40px;
}
button.btn.btn-md.text-white.btn-outline-success {
    margin-top: 20px;
}
.follow-text img{
    width: 21px;
    margin-right: 10px;
}
 /* footer style ends here */